<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id        = "com.paulyounger.theset"
  versionCode="001" 
  version   = "0.0.3">

  <!-- versionCode is optional and Android only -->

  <name>PTest</name>

  <description>
        first, get it on iphone.  then get apn to register.  
        trying new version #
  </description>

  <author href="" email="">
        Paul Younger
  </author>

  <preference name="phonegap-version" value="2.9.0" />

  <gap:plugin name="GenericPush"/>

</widget>

